body {
    margin: 8px 0 0 0;
    padding: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.container {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    position: relative
}

.tips {
    margin-top: 7px;
    padding-top: 4px;
    height: 30px;
    position: relative;
    width: 360px;
    margin: 0 auto;
}

#tipsCanvas {
    left: 100px;
}

.tips-left {
    float: left;
}

.tips-right {
    float: right;
}